<%= "#{current_user.name}さんのマイページ" %>
<div>
  <div>
    <h2>マイページ情報</h2>
     <% if @user.blank? %>
        <%= link_to "マイページを作成する", new_profile_path%>
     <% else %>
        <%= link_to "マイページの情報を編集する", edit_profile_path(@profile) %>
        <%= link_to "マイページの情報を削除する", profile_path(@profile), method: :delete %>
     <% end %>
  </div>
</div>