<h1>仕事情報一覧ページ</h1>
<% @recruitments.each do |recruitment| %>
<div>
  <%=  "#{recruitment.category}のバイト募集中"%>
  <% if current_user.profile.present? %>
  <%= link_to "詳細を見る", hunting_path(recruitment) %>
  <% end %>
</div>
<% end %>