
.form-index {
     width: 500px;
     margin: 0 auto;
     border: solid, 1px, lightgray;
}

.image-preview {
     width: 200px;
}

.profile-card {
     width: 100%;
     background-color: white;
}

.input-name {
     width: 120px;
}

.input-default-pr {
     width: 400px;
     height: 200px;
}

.profil-main {
     width: 500px;
     margin: 0 auto;
}

.card-all {
     margin: 20px auto;
}

.prefecture {
     height: 20px;
}