.top {
     background-image: url("/assets/hand.png");
     height: 100vh; /* 全画面表示 */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
}

.title {
     font-size: 60px;
      font-weight: bold;
      font-family: cursive;
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: white;
      text-shadow: 5px 3px 0 yellow;
}

.go {
     font-size: 60px;
      font-weight: bold;
      font-family: cursive;
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: white;
      text-shadow: 5px 3px 0 yellow;
}

.click a{
     font-size: 60px;
      font-weight: bold;
      font-family: cursive;
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: white;
      text-shadow: 5px 3px 0 red;
}